aadict==0.2.3
appnope==0.1.0
asset==0.6.12
Babel==2.3.4
backcall==0.1.0
beautifulsoup4==4.6.0
bottle==0.12.13
click==6.7
decorator==4.0.10
dill==0.2.7.1
Django==2.0.1
docutils==0.12
ebaysdk==2.1.5
feedparser==5.2.1
Flask==0.12.2
gevent==1.1.2
globre==0.1.5
greenlet==0.4.10
html2text==2016.9.19
image==1.5.17
ipython==6.3.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.0
Jinja2==2.8
lessc==0.1.2
lxml==4.1.1
Mako==1.0.4
MarkupSafe==0.23
mock==2.0.0
multiprocess==0.70.5
num2words==0.5.4
ofxparse==0.16
parso==0.2.0
passlib==1.6.5
pathos==0.2.1
paxos==1.0.0
pbr==3.1.1
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.0.0
pox==0.2.3
ppft==1.6.4.7.1
prompt-toolkit==1.0.15
psutil==5.4.3
psycopg2==2.7.3.2
ptyprocess==0.5.2
Pygments==2.2.0
PyPDF2==1.26.0
python-dateutil==2.6.1
pytz==2016.7
PyYAML==3.12
reportlab==3.4.0
requests==2.11.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
unicode==2.6
wcwidth==0.1.7
Werkzeug==0.14.1
